

@import "components/banner.css";
@import "components/container.css";
@import "components/cards.css";
@import "components/button.css";

body{
    font-family: "Lato", serif;
}
h1, h2, h3{
    font-family: "Montserrat", sans-serif;

}


h2{
    font-size: 48px;
    font-weight: normal;

    margin-bottom: 88px;
    margin-top: 88px;

    color: #800000;
    text-align: center;
}
h3{
    font-size: 32px;
    font-weight: bold;

    margin-bottom: 8px;

    color: #343131;
}
.text{
    font-size: 24px;
    line-height: 1.4;
}